{% extends 'base.html' %}
{% block content %}

    <div style="margin: 10px 125px 100px;
                margin-top: 75px;">
                        <h2 class="animate-charcter" style="text-align: center;">Notes List</h2>
        <div style="display: inline-flex;
                        text-align: center;">
            <a class="button-81" style="margin-bottom: 10px;" href="{% url 'NotesApp:adaugare' %}">Add Notes</a>
        </div>
        <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Notes Name</th>
                <th>Note description</th>
                <th>Created at</th>
                <th style="width: 240px;text-align: center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_notes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.text }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <a class="button-33" href="{% url 'NotesApp:modificare' item.id %}">Modify</a>
                        <a class="button-24" href="{% url 'NotesApp:delete' item.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>


   <style>

   table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

}


td{
  padding: 20px;
    color: white;
    max-width: 400px;
    word-wrap: break-word;
}

.button-33 {

  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: none;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    margin-right: 15px;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
    text-decoration: none;
    color: green;
}


.button-81 {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none #be0fd3 solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #244f3d;
  color: #fff;
    text-decoration: none;
}


.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
    min-height: 40px;

  outline: 0;
    margin-left: 0;
  padding: 10px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
    text-decoration: none;
}

.button-24:active {
  opacity: .5;
}

th {
    color: #FFFFFF;
  text-align: left;
}

thead {
  th {
    background-color: #244f3d;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.1);
        z-index: -1;
      }
    }
  }
}

.animate-charcter
{
    margin-bottom: 30px;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #FFFFFF 0%,
    #ffffff 29%,
    #117fce 60%,
    #231557 100%
  );

  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: block;
    text-align: center;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

   </style>

{% endblock %}

