{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-6">{{ field.label }} <br>
                    {{ field }} {{ field.errors }}</div><br>
            {% endfor %}
        <button type="submit" class="btn btn-success" style="margin-left: 15px">Save</button>
        </form>
    </div>
    <style>
    body{
    background-color: rgba(109,202,255,0.42);
    margin-top: 50px;
}
    </style>
{% endblock %}