{% extends 'base.html' %}
{% block content %}

    <a class="btn btn-primary" href="{% url 'companies:adaugare' %}">Adaugare Companie</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Website</th>
                <th>Company type</th>
                <th>Location</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in companies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.website }}</td>
                    <td>{{ item.company_type }}</td>
                    <td>{{ item.location_id }}</td>
                    <td> {% if item.active == 0 %}
                            Inactiv
                         {% else %}
                            Activ
                         {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'companies:modificare' item.id %}">Editare</a>
                        {% if item.active == 0 %}
                        <a class="btn btn-danger" href="{% url 'companies:activeaza' item.id %}">Activeaza</a>
                        {% else %}
                        <a class="btn btn-danger" href="{% url 'companies:dezactiveaza' item.id %}">Dezactiveaza</a>
                        {% endif %}
                        <a class="btn btn-danger" href="{% url 'companies:sterge' item.id %}">Sterge</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}